<div class="x_panel">
  <div class="x_title">
    <h2>{{name}}
      <small> information</small>
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <div class="row">

      <p class="participants-number">  Room participants: {{participations.length}}</p>

      <div *ngFor="let participation of participations" class="col-md-55">
        <div class="thumbnail">
          <div class="image view view-first">
            <img style="width: 100%; height: 100%; display: block;" src="../../../assets/images/default-avatar.png" alt="image">
            <div class="mask">
              <p> Joined the room on <br> {{participation.joinDate | date: "MM/dd/yyyy 'at' h:mma"}}</p>
            </div>
          </div>
          <div class="caption">
            <p>{{participation.username}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
