.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.x_content{
  max-width: 500px;
  margin-left: 20px;
  margin-right: auto;
}

#visible{
  margin: 30px;
}

#visible-checkbox-label{
  margin: 30px 30px 30px  2px;
}

textarea{
  resize: none;
}
