<div class="main-content">
  <div class="wrap">
    <div id="chatWindow" class="container">
      <mat-nav-list>
        <div mat-list-item *ngFor="let message of messages" class="bubble"
             [ngClass]="isUserMessage(message)? 'right' : 'left'">
          <p><span style="font-weight: bold; font-size: 15px">{{message.username}}</span> <br> {{message.content}}</p>
        </div>
      </mat-nav-list>
    </div>
  </div>
  <br/>
</div>

<footer class="send">
  <mat-toolbar>
    <form class="w-100" fxLayout="row" (submit)="$event.preventDefault();">
      <div fxFlex>
        <div fxFlexFill>
          <p id="writing-users" *ngIf="typingUsers.length > 0">Typing: {{typingUsersWithoutDuplicates()}}</p>
          <mat-form-field class="w-100">
            <input matInput type="text" placeholder="Type a message" name="message" id="message" [(ngModel)]="message" (keyup.enter)="sendMessage();">
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-toolbar>
</footer>
