<div fxFlex="15%" fxFlexAlign="center">
  <button type="button" mat-icon-button (click)="leaveRoom();">
    <mat-icon>person-minus</mat-icon>
  </button>
</div>
<div class="main-content">

  <h1>
    {{ name }} works!
  </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cum iure numquam porro dolorem quaerat molestias ea,
    tenetur quos nisi accusamus nostrum nihil illum cupiditate. Officiis adipisci voluptatum temporibus culpa eaque at rerum
    atque voluptatibus magnam hic possimus, quis, expedita consequatur reiciendis! Quam, ab nesciunt. Sed ex laborum eveniet
    asperiores, aspernatur cumque ratione voluptas. Delectus repellat corporis sequi aperiam ipsa vero unde beatae tempora
    laborum et amet, aut quisquam. Accusamus repellendus veritatis deleniti iure, animi possimus quae temporibus esse eveniet
    vitae maxime? Quisquam repellat quae veniam, suscipit incidunt consequatur eum modi expedita nobis, sapiente nihil perferendis
    temporibus animi dolorem facilis placeat dolore officiis. Error expedita porro quas corporis eius maiores nobis cum.
    Aliquid iure optio quaerat sit quod quisquam necessitatibus eos, voluptatum assumenda animi cum sed quis ratione, aspernatur,
    alias tempora nulla facilis ex beatae. Deleniti illum neque ad doloremque saepe aliquid illo blanditiis! Vitae inventore
    placeat tenetur tempore libero corrupti in. Voluptates ipsam error tempora incidunt impedit molestiae dolorem velit,
    eos culpa illo et ratione ab sit? Quidem, nobis totam, doloribus, placeat a id perspiciatis deserunt necessitatibus aspernatur
    veritatis velit? Cupiditate, iure quaerat. Excepturi officia magnam vel aliquid soluta sit, obcaecati ad laudantium quod
    quaerat nesciunt impedit quis quas.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cum iure numquam porro dolorem quaerat molestias ea,
    tenetur quos nisi accusamus nostrum nihil illum cupiditate. Officiis adipisci voluptatum temporibus culpa eaque at rerum
    atque voluptatibus magnam hic possimus, quis, expedita consequatur reiciendis! Quam, ab nesciunt. Sed ex laborum eveniet
    asperiores, aspernatur cumque ratione voluptas. Delectus repellat corporis sequi aperiam ipsa vero unde beatae tempora
    laborum et amet, aut quisquam. Accusamus repellendus veritatis deleniti iure, animi possimus quae temporibus esse eveniet
    vitae maxime? Quisquam repellat quae veniam, suscipit incidunt consequatur eum modi expedita nobis, sapiente nihil perferendis
    temporibus animi dolorem facilis placeat dolore officiis. Error expedita porro quas corporis eius maiores nobis cum.
    Aliquid iure optio quaerat sit quod quisquam necessitatibus eos, voluptatum assumenda animi cum sed quis ratione, aspernatur,
    alias tempora nulla facilis ex beatae. Deleniti illum neque ad doloremque saepe aliquid illo blanditiis! Vitae inventore
    placeat tenetur tempore libero corrupti in. Voluptates ipsam error tempora incidunt impedit molestiae dolorem velit,
    eos culpa illo et ratione ab sit? Quidem, nobis totam, doloribus, placeat a id perspiciatis deserunt necessitatibus aspernatur
    veritatis velit? Cupiditate, iure quaerat. Excepturi officia magnam vel aliquid soluta sit, obcaecati ad laudantium quod
    quaerat nesciunt impedit quis quas.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cum iure numquam porro dolorem quaerat molestias ea,
    tenetur quos nisi accusamus nostrum nihil illum cupiditate. Officiis adipisci voluptatum temporibus culpa eaque at rerum
    atque voluptatibus magnam hic possimus, quis, expedita consequatur reiciendis! Quam, ab nesciunt. Sed ex laborum eveniet
    asperiores, aspernatur cumque ratione voluptas. Delectus repellat corporis sequi aperiam ipsa vero unde beatae tempora
    laborum et amet, aut quisquam. Accusamus repellendus veritatis deleniti iure, animi possimus quae temporibus esse eveniet
    vitae maxime? Quisquam repellat quae veniam, suscipit incidunt consequatur eum modi expedita nobis, sapiente nihil perferendis
    temporibus animi dolorem facilis placeat dolore officiis. Error expedita porro quas corporis eius maiores nobis cum.
    Aliquid iure optio quaerat sit quod quisquam necessitatibus eos, voluptatum assumenda animi cum sed quis ratione, aspernatur,
    alias tempora nulla facilis ex beatae. Deleniti illum neque ad doloremque saepe aliquid illo blanditiis! Vitae inventore
    placeat tenetur tempore libero corrupti in. Voluptates ipsam error tempora incidunt impedit molestiae dolorem velit,
    eos culpa illo et ratione ab sit? Quidem, nobis totam, doloribus, placeat a id perspiciatis deserunt necessitatibus aspernatur
    veritatis velit? Cupiditate, iure quaerat. Excepturi officia magnam vel aliquid soluta sit, obcaecati ad laudantium quod
    quaerat nesciunt impedit quis quas.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cum iure numquam porro dolorem quaerat molestias ea,
    tenetur quos nisi accusamus nostrum nihil illum cupiditate. Officiis adipisci voluptatum temporibus culpa eaque at rerum
    atque voluptatibus magnam hic possimus, quis, expedita consequatur reiciendis! Quam, ab nesciunt. Sed ex laborum eveniet
    asperiores, aspernatur cumque ratione voluptas. Delectus repellat corporis sequi aperiam ipsa vero unde beatae tempora
    laborum et amet, aut quisquam. Accusamus repellendus veritatis deleniti iure, animi possimus quae temporibus esse eveniet
    vitae maxime? Quisquam repellat quae veniam, suscipit incidunt consequatur eum modi expedita nobis, sapiente nihil perferendis
    temporibus animi dolorem facilis placeat dolore officiis. Error expedita porro quas corporis eius maiores nobis cum.
    Aliquid iure optio quaerat sit quod quisquam necessitatibus eos, voluptatum assumenda animi cum sed quis ratione, aspernatur,
    alias tempora nulla facilis ex beatae. Deleniti illum neque ad doloremque saepe aliquid illo blanditiis! Vitae inventore
    placeat tenetur tempore libero corrupti in. Voluptates ipsam error tempora incidunt impedit molestiae dolorem velit,
    eos culpa illo et ratione ab sit? Quidem, nobis totam, doloribus, placeat a id perspiciatis deserunt necessitatibus aspernatur
    veritatis velit? Cupiditate, iure quaerat. Excepturi officia magnam vel aliquid soluta sit, obcaecati ad laudantium quod
    quaerat nesciunt impedit quis quas.</p>
</div>

<footer class="send">
  <mat-toolbar>
    <form class="w-100" fxLayout="row" (submit)="$event.preventDefault();">
      <div fxFlex>
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput type="text" placeholder="Type a message">
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-toolbar>
</footer>
