<div class="main-content">
  <app-messages></app-messages>
</div>

<footer class="send">
  <mat-toolbar>
    <form class="w-100" fxLayout="row" (submit)="$event.preventDefault();">
      <div fxFlex>
        <div fxFlexFill>
          <p *ngIf="writingUsers.length > 0">Writing: + {{writingUsers.toString()}}</p>
          <mat-form-field class="w-100">
            <input matInput type="text" placeholder="Type a message" name="message" id="message" [(ngModel)]="message" (keyup.enter)="sendMessage();">
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-toolbar>
</footer>
