<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Distributed Chat Service</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <!-- /.dropdown -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i>
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <a href="#">
              <i class="fa fa-user fa-fw"></i> User Profile</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-gear fa-fw"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="login.html">
              <i class="fa fa-sign-out fa-fw"></i> Logout</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li class="sidebar-search">
            <div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
          </li>
          <li class="left clearfix">
            <span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle img-size" />
              <strong class="primary-font">Jack Sparrow</strong>
            </span>
          </li>
          <li class="left clearfix">
            <span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle img-size" />
              <strong class="primary-font">Jack Sparrow</strong>
            </span>
          </li>
          <li class="left clearfix">
            <span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle img-size" />
              <strong class="primary-font">Jack Sparrow</strong>
            </span>
          </li>
          <li class="left clearfix">
            <span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle img-size" />
              <strong class="primary-font">Jack Sparrow</strong>
            </span>
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <!-- <app-root></app-root> -->
        <div class="col-lg-12">
          <div class="chat-panel panel panel-default page-header">
            <div class="panel-heading">
              <i class="fa fa-comments fa-fw"></i> Nome Chat
            </div>
            <!-- /.panel-heading -->
            <div class="chat-wrapper">
              <div class="panel-body">
                <ul class="chat">
                  <li class="left clearfix">
                    <div class="chat-body clearfix msg-recv">
                      <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="right clearfix">
                    <div class="chat-body clearfix pull-right msg-send">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <small class="text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                    </div>
                  </li>
                  <li class="left clearfix">
                    <div class="chat-body clearfix msg-recv">
                      <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <small class="text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="right clearfix">
                    <div class="chat-body clearfix pull-right msg-send">
                      <p class="pull-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        fjkfj d s l k f d j l s k d j f d s a k l f jlkdasjflks
                      </p>
                      <small class=" text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="left clearfix">
                    <div class="chat-body clearfix msg-recv">
                      <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <small class="text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="right clearfix">
                    <div class="chat-body clearfix pull-right msg-send">
                      <p class="pull-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        fjkfj d s l k f d j l s k d j f d s a k l f jlkdasjflks
                      </p>
                      <small class=" text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="left clearfix">
                    <div class="chat-body clearfix msg-recv">
                      <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <small class="text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="right clearfix">
                    <div class="chat-body clearfix pull-right msg-send">
                      <p class="pull-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        fjkfj d s l k f d j l s k d j f d s a k l f jlkdasjflks
                      </p>
                      <small class=" text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="left clearfix">
                    <div class="chat-body clearfix msg-recv">
                      <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <small class="text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="right clearfix">
                    <div class="chat-body clearfix pull-right msg-send">
                      <p class="pull-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        fjkfj d s l k f d j l s k d j f d s a k l f jlkdasjflks
                      </p>
                      <small class=" text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="left clearfix">
                    <div class="chat-body clearfix msg-recv">
                      <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <small class="text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="right clearfix">
                    <div class="chat-body clearfix pull-right msg-send">
                      <p class="pull-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        fjkfj d s l k f d j l s k d j f d s a k l f jlkdasjflks
                      </p>
                      <small class=" text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="left clearfix">
                    <div class="chat-body clearfix msg-recv">
                      <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                      </p>
                      <small class="text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                  <li class="right clearfix">
                    <div class="chat-body clearfix pull-right msg-send">
                      <p class="pull-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        fjkfj d s l k f d j l s k d j f d s a k l f jlkdasjflks
                      </p>
                      <small class=" text-muted pull-right">
                        <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                      </small>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
              <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                <span class="input-group-btn">
                  <button class="btn btn-sm btn-primary" id="btn-chat">
                    Send
                  </button>
                </span>
              </div>
            </div>
            <!-- /.panel-footer -->
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->